#root {
  text-align: center;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.grid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.displayText {
  color: #1976d2;
  font-weight: 700;
  padding-right: 4px;
}

.susceptible {
  color: #91d7e4;
}

.infected {
  color: #f17575;
}

.incubated {
  color: #fda867;
}

.recovered {
  color: #99f59c;
}